# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Ambiente
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
.directory
*.lnk

# Projeto
logs/
*.log
Backup_*/
config/config.ini
temp/
tmp/
*.bak
*.tmp

# Windows
.lnk
.url
